@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.homepage{
    /* add shit */
}

.button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: .5s ease-in;
}

.button:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.form > * {
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
    outline: none;
    flex-grow: 1;
    transition: .5s ease-in;
    /* border-radius: 10px; */
}

.form button:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

@font-face {
    font-family: 'titleFont';
    src: url('Bromo-PKWvP.otf');
}


.title {

    font-family: 'titleFont';
    font-size: 100px;
}

.or{
    font-family: 'titleFont';
    font-size: 30px;
    margin-bottom: 0px;
}